.qt-stacked-layout {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .qt-stacked-layout-item {
    width: 100%;
    height: 100%;
    animation: slideIn 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .qt-stacked-layout-item[hidden] {
    display: none;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }