:host {
  display: block;
  width: 100%;
  height: 100%;
}

.qt-central-widget {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  
  background-color: var(--color-bg-primary);
}